{% extends 'my_dog/layout.html' %}
{% load static %}
{% block content %}
<div class="container-md">
<p class="h2">Обо мне</p>
<p>Меня зовут Гюнтер, я породы папильон(от фр. бабочка)</p>
<p>Я люблю бегать, прыгать и лаять, а еще я очень люблю свою семью и гулять на улице!</p>
<p>Родился в Новосибирске 13 марта 2021 года, кстати на этом сайте есть фото моего первого Дня рождения</p>
<figure class="text-end">
  <blockquote class="blockquote">
    <p>Гав-гав-гав-гав!!</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    хороший мальчик <cite title="Source Title">Гюнтер</cite>
  </figcaption>
</figure>
</div>
{% endblock %}